<div class="card container col-6 shadow p-3 mb-5 bg-white rounded">

  <form class="card-block" (ngSubmit)="enviarDados(); formulario.reset()" #formulario="ngForm">
    <div class="form-group">
      <label for="codigo">Codigo</label>
      <input type="text" class="form-control" name="codigo"
            id="codigo" [(ngModel)]="model.codigo" #codigo="ngModel"
            required maxlength="12"/>
      <div [hidden]="codigo.valid || codigo.pristine">
        <small>Codigo é um campo obrigatorio!</small>
      </div>
    </div>

    <div class="form-group">
        <label for="descricao">Descricao</label>
        <input class="form-control" type="text" id="descricao"
               [(ngModel)]="model.descricao" name="descricao" #descricao="ngModel" required>
        <div [hidden]="descricao.valid || descricao.pristine">
            <small>Descrição inválida e é um campo obrigatorio!</small>
        </div>
    </div>

    <div class="form-group">
        <label for="creditos">Quantidade de creditos</label>
        <input class="form-control" type="number" id="creditos"
               [(ngModel)]="model.quantidade_creditos" name="creditos" #creditos="ngModel" required>
        <div [hidden]="creditos.valid || creditos.pristine">
            <small>Quantidade de creditos é um campo obrigatorio!</small>
        </div>
    </div>

    <button mat-raised-button 
        style="background-color: #9C1717; color: white" 
        type="submit" (click)="enviarDados(); formulario.reset()" [disabled]="formulario.invalid">Cadastrar</button>

  </form>

</div>