<div class="d-flex justify-content-center div-card">
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">Bem vindo ao portal da UNICAP</h5>
        <p class="card-text">Aqui você será capaz de acessar os dados dos professores e suas respectivas disciplinas.
        </p>
        <a>Por onde começar: </a>
        <ul>
          <li><a href="cadastroProfessor" class="card-link">Cadastrar professor</a></li>
          <li> <a href="cadastroDisciplina" class="card-link">Cadastrar disciplina</a></li>
        </ul>
        
       
      </div>

  </div>
</div>