<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Matricula</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Disciplina</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of professores">
      <td>{{item.matricula}}</td>
      <td>{{item.nome}}</td>
      <td>{{item.email}}</td>
      <td><button mat-raised-button style="background-color: #9C1717; color: white" (click)="openModal(item)">
          <mat-icon>info</mat-icon>
        </button></td>
    </tr>
  </tbody>
</table>