<div class="card container col-6 shadow p-3 mb-5 bg-white rounded">

  <form class="card-block" (ngSubmit)="enviarDados(); formulario.reset()" #formulario="ngForm">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" name="nome"
            id="nome" [(ngModel)]="model.nome" #nome="ngModel"
            required maxlength="50"/>
      <div [hidden]="nome.valid || nome.pristine">
        <small>Nome é um campo obrigatorio!</small>
      </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" id="email"
               [(ngModel)]="model.email" name="email" #email="ngModel"
                required pattern="[a-zA-Z0-9.]+@[a-zA-Z0-9.]+\.[a-z]+">
        <div [hidden]="email.valid || email.pristine">
            <small>Email inválido e é um campo obrigatorio!</small>
        </div>
    </div>

    <div class="form-group">
        <label for="matricula">Matricula</label>
        <input class="form-control" type="text" id="matricula"
               [(ngModel)]="model.matricula" name="matricula" #matricula="ngModel" required
               pattern="[0-9.]+-[0-9]">
               <mat-hint align="end">exemplo: 000000000-0</mat-hint>
        <div [hidden]="matricula.valid || matricula.pristine">
            <small>Matricula é um campo obrigatorio!</small>
        </div>
    </div>

    <button mat-raised-button 
    style="background-color: #9C1717; color: white" 
    type="submit" (click)="enviarDados(); formulario.reset()" [disabled]="formulario.invalid">Cadastrar</button>

  </form>

</div>