
<div class="modal-header">
  <h4 class="modal-title">
    Nome: {{detalharProfessor.nome}} <br>
    Matricula: {{detalharProfessor.matricula}} <br>
    E-mail: {{detalharProfessor.email}}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div data-spy="scroll" data-offset="0" class="scrollspy-example">
  <div class="modal-body">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Descrição</th>
          <th scope="col">Créditos</th>
        </tr>
      </thead>
      <tr *ngFor="let item of detalharProfessor.disciplinas">
        <td>{{item.codigo}}</td>
        <td>{{item.descricao}}</td>
        <td>{{item.quantidade_creditos}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button mat-raised-button style="background-color: #9C1717; color: white" (click)="activeModal.close('Close click')">Close</button>
</div>