<nav class="navbar navbar-expand-lg navbar-light"
 style="background-color: #9C1717">
  <a class="navbar-brand" href="#"><img width="100" height="100" src="../assets/icons/logo.ico"></a>
  <span class="spacer"></span>
  <button mat-mini-fab [matMenuTriggerFor]="menu" style="color: #9C1717; background-color: #cd853f">
    <mat-icon>more_vert</mat-icon>
  </button>


  <mat-menu #menu="matMenu">
    <a href="cadastroProfessor">
      <button mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>Cadastrar professor</span>
      </button>
    </a>

    <a href="cadastroDisciplina">
      <button mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>Cadastrar disciplina</span>
      </button>
    </a>

    <a href="listarProfessor">
      <button mat-menu-item>
        <mat-icon>list</mat-icon>
        <span>Listar professores</span>
      </button>
    </a>

    <a href="adicionarDisciplina">
      <button mat-menu-item>
        <mat-icon>add_circle</mat-icon>
        <span>Definir disciplina</span>
      </button>
    </a>

  </mat-menu>
</nav>
<br>
<router-outlet></router-outlet>
<!-- <footer class="footer" id="footerGlobal">
  <div class="container">
    <p style="margin-left: 35%">&copy; Unicap, 2018-2019 &middot; <a href="#">Privacidade</a> &middot; <a
        href="#">Termos</a></p>
    </div>
</footer> -->