<div class="card container col-6" *ngIf="show, else listagem">

  <form class="card-block" (ngSubmit)="getProfessor()" #formulario="ngForm">
    <div class="form-group">
      <label for="matricula">Matricula</label>
      <input class="form-control" type="text" id="matricula" [(ngModel)]="mat" name="matricula" #matricula="ngModel"
        pattern="[0-9]{9}-[0-9]{1}$" required>
      <div [hidden]="matricula.valid || matricula.pristine">
        <small>Matricula é um campo obrigatorio!</small>
      </div>
    </div>
    <button mat-raised-button style="background-color: #9C1717; color: white" type="submit" (click)="getProfessor()"
      [disabled]="formulario.invalid">Buscar
      professor</button>
  </form>
</div>

<ng-template #listagem>
  <div class="card container col-6">
    <table class="table">
      <thead>
          <tr>
              <th scope="col">Professor</th>
              <th scope="col">Disciplinas disponiveis</th>
            </tr>
      </thead>
      <td>{{professor.nome}}</td>
      <div class="form-group" *ngFor="let item of disciplinas">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" [value]="item" (change)="addDisciplina(item)">
          <label class="form-check-label" for="exampleCheck1">{{item.descricao}}</label>
        </div>
      </div>
    </table>
    <button mat-raised-button style="background-color: #9C1717; color: white"
      (click)="setDisciplinas()">Adicionar</button>
  </div>
</ng-template>